FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:3001
ADMIN_EMAIL=admin@suraksha.gov
ADMIN_PASSWORD=admin123
CITIZEN_EMAIL=testload@suraksha.lk
CITIZEN_PASSWORD=LoadTest@2026
HOSPITAL_EMAIL=hospital@suraksha.lk
HOSPITAL_PASSWORD=Hospital@2026
